default_config:

frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

# -----------

hass_wakatime:

# https://www.home-assistant.io/integrations/homeassistant/
homeassistant:
  debug: true

logger:
  default: info
  logs:
    custom_components.hass_wakatime: debug
